*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

table{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid black;
}

th{
    background-color: white;
    color: black;
}

tbody tr{
    background-color: rgb(255, 253, 253);
}


body {
    font-family: 'lato', sans-serif;
}
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}
small {
    font-size: 0.5em;
}


.table-header {
    background-color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border: 1px solid #f6986b;
    border-radius: 30px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    color: black;
}
.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    color: black;
}
.col-1 {
    flex-basis: 10%;
    color: black;
}
.col-2 {
    flex-basis: 40%;
    color: black;
}
.col-3 {
    flex-basis: 25%;
    color: black;
}
.col-4 {
    flex-basis: 25%;
    color: black;
}

@media all and (max-width: 767px) {
    .table-header {
        display: none;
    }
    .table-row{

    }
    
    .col {

        flex-basis: 100%;

    }
    .col {
        display: flex;
        padding: 10px 0;

}
}

